In [323]:
import pandas as pd
import numpy as np

In [324]:
df = pd.read_csv(r'C:\Users\Shivansh\OneDrive\Desktop\ml datasets\fraudTest.csv\fraudTest.csv')

In [325]:
df

,Unnamed: 0,trans_date_trans_time,cc_num,merchant,category,amt,first,last,gender,street,...,lat,long,city_pop,job,dob,trans_num,unix_time,merch_lat,merch_long,is_fraud
0,0,2020-06-21 12:14:25,2291163933867244,fraud_Kirlin and Sons,personal_care,2.86,Jeff,Elliott,M,351 Darlene Green,...,33.9659,-80.9355,333497,Mechanical engineer,1968-03-19,2da90c7d74bd46a0caf3777415b3ebd3,1371816865,33.986391,-81.200714,0
1,1,2020-06-21 12:14:33,3573030041201292,fraud_Sporer-Keebler,personal_care,29.84,Joanne,Williams,F,3638 Marsh Union,...,40.3207,-110.4360,302,"Sales professional, IT",1990-01-17,324cc204407e99f51b0d6ca0055005e7,1371816873,39.450498,-109.960431,0
2,2,2020-06-21 12:14:53,3598215285024754,"fraud_Swaniawski, Nitzsche and Welch",health_fitness,41.28,Ashley,Lopez,F,9333 Valentine Point,...,40.6729,-73.5365,34496,"Librarian, public",1970-10-21,c81755dbbbea9d5c77f094348a7579be,1371816893,40.495810,-74.196111,0
3,3,2020-06-21 12:15:15,3591919803438423,fraud_Haley Group,misc_pos,60.05,Brian,Williams,M,32941 Krystal Mill Apt. 552,...,28.5697,-80.8191,54767,Set designer,1987-07-25,2159175b9efe66dc301f149d3d5abf8c,1371816915,28.812398,-80.883061,0
4,4,2020-06-21 12:15:17,3526826139003047,fraud_Johnston-Casper,travel,3.19,Nathan,Massey,M,5783 Evan Roads Apt. 465,...,44.2529,-85.0170,1126,Furniture designer,1955-07-06,57ff021bd3f328f8738bb535c302a31b,1371816917,44.959148,-85.884734,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
555714,555714,2020-12-31 23:59:07,30560609640617,fraud_Reilly and Sons,health_fitness,43.77,Michael,Olson,M,558 Michael Estates,...,40.4931,-91.8912,519,Town planner,1966-02-13,9b1f753c79894c9f4b71f04581835ada,1388534347,39.946837,-91.333331,0
555715,555715,2020-12-31 23:59:09,3556613125071656,fraud_Hoppe-Parisian,kids_pets,111.84,Jose,Vasquez,M,572 Davis Mountains,...,29.0393,-95.4401,28739,Futures trader,1999-12-27,2090647dac2c89a1d86c514c427f5b91,1388534349,29.661049,-96.186633,0
555716,555716,2020-12-31 23:59:15,6011724471098086,fraud_Rau-Robel,kids_pets,86.88,Ann,Lawson,F,144 Evans Islands Apt. 683,...,46.1966,-118.9017,3684,Musician,1981-11-29,6c5b7c8add471975aa0fec023b2e8408,1388534355,46.658340,-119.715054,0
555717,555717,2020-12-31 23:59:24,4079773899158,fraud_Breitenberg LLC,travel,7.99,Eric,Preston,M,7020 Doyle Stream Apt. 951,...,44.6255,-116.4493,129,Cartographer,1965-12-15,14392d723bb7737606b2700ac791b7aa,1388534364,44.470525,-117.080888,0
555718,555718,2020-12-31 23:59:34,4170689372027579,fraud_Dare-Marvin,entertainment,38.13,Samuel,Frey,M,830 Myers Plaza Apt. 384,...,35.6665,-97.4798,116001,Media buyer,1993-05-10,1765bb45b3aa3224b4cdcb6e7a96cee3,1388534374,36.210097,-97.036372,0

In [326]:
df.groupby('is_fraud').count()

,Unnamed: 0,trans_date_trans_time,cc_num,merchant,category,amt,first,last,gender,street,...,zip,lat,long,city_pop,job,dob,trans_num,unix_time,merch_lat,merch_long
is_fraud,,,,,,,,,,,,,,,,,,,,,
0,553574,553574,553574,553574,553574,553574,553574,553574,553574,553574,...,553574,553574,553574,553574,553574,553574,553574,553574,553574,553574
1,2145,2145,2145,2145,2145,2145,2145,2145,2145,2145,...,2145,2145,2145,2145,2145,2145,2145,2145,2145,2145

In [327]:
df = df.drop(['Unnamed: 0',
    'merchant',
    'cc_num',
    'first',
    'zip',
    'last',
    'trans_num',
    'unix_time',
    'street',
    'merch_lat',
    'gender',
    'merch_long',
    'job',
    'trans_date_trans_time'], axis=1)

In [328]:
df.columns

Index(['category', 'amt', 'city', 'state', 'lat', 'long', 'city_pop', 'dob',
       'is_fraud'],
      dtype='object')

In [329]:
df.isna().sum()

category    0
amt         0
city        0
state       0
lat         0
long        0
city_pop    0
dob         0
is_fraud    0
dtype: int64

In [330]:
from datetime import datetime
df['dob'] = pd.to_datetime(df['dob'])
df['dob'] = df['dob'].dt.year
df['dob'] = datetime.now().year - df['dob']
df = df.rename(columns = {'dob' : 'age'})

In [331]:
df

,category,amt,city,state,lat,long,city_pop,age,is_fraud
0,personal_care,2.86,Columbia,SC,33.9659,-80.9355,333497,56,0
1,personal_care,29.84,Altonah,UT,40.3207,-110.4360,302,34,0
2,health_fitness,41.28,Bellmore,NY,40.6729,-73.5365,34496,54,0
3,misc_pos,60.05,Titusville,FL,28.5697,-80.8191,54767,37,0
4,travel,3.19,Falmouth,MI,44.2529,-85.0170,1126,69,0
...,...,...,...,...,...,...,...,...,...
555714,health_fitness,43.77,Luray,MO,40.4931,-91.8912,519,58,0
555715,kids_pets,111.84,Lake Jackson,TX,29.0393,-95.4401,28739,25,0
555716,kids_pets,86.88,Burbank,WA,46.1966,-118.9017,3684,43,0
555717,travel,7.99,Mesa,ID,44.6255,-116.4493,129,59,0
555718,entertainment,38.13,Edmond,OK,35.6665,-97.4798,116001,31,0

In [332]:
x = df.drop(['is_fraud'], axis=1)
colm = x.columns.to_list()
y= df['is_fraud']
col

'state'

In [333]:
from imblearn.under_sampling import RandomUnderSampler
rus = RandomUnderSampler(random_state=0)
rus.fit(x, y)
x,y = rus.fit_resample(x, y)
y.value_counts()

is_fraud
0    2145
1    2145
Name: count, dtype: int64

In [334]:
num_col = [i for i in x.columns if x[i].dtype == 'int64' or x[i].dtype =='int32' or x[i].dtype =='float64']
cat_col = [i for i in x.columns if x[i].dtype == 'object']

In [335]:
num_col,cat_col

(['amt', 'lat', 'long', 'city_pop', 'age'], ['category', 'city', 'state'])

In [336]:
from sklearn.preprocessing import LabelEncoder
le = LabelEncoder()
for col in cat_col:
    x[col] = le.fit_transform(x[col])

In [337]:
from sklearn.preprocessing import StandardScaler
sc = StandardScaler()
x = sc.fit_transform(x)
x[0]

array([ 0.84639937, -0.22551258, -1.06072817,  0.7624034 , -0.57423168,
       -0.49658318, -0.29269996, -0.73724405])

In [338]:
x = pd.DataFrame(x, columns=colm)

Model Building (Logistic, Decision Tree & Random Forest)

In [339]:
from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test = train_test_split(x,y,test_size=0.2,random_state=5)

In [340]:
from sklearn.linear_model import LogisticRegression
from sklearn.tree import DecisionTreeClassifier
from sklearn.ensemble import RandomForestClassifier
models = {
    'Logistic Regression': LogisticRegression(),
    'Decision Tree': DecisionTreeClassifier(),
    'Random Forest': RandomForestClassifier()
}

In [341]:
from sklearn.metrics import accuracy_score, precision_score, recall_score, f1_score
def evaluate_model(model, X_train, y_train, X_test, y_test):
    model.fit(X_train, y_train)
    y_pred = model.predict(X_test)
    accuracy = accuracy_score(y_test, y_pred)
    precision = precision_score(y_test, y_pred)
    recall = recall_score(y_test, y_pred)
    f1 = f1_score(y_test, y_pred)
    return accuracy, precision, recall, f1

In [342]:
results = {}
for name, model in models.items():
    accuracy, precision, recall, f1 = evaluate_model(model, x_train, y_train, x_test, y_test)
    results[name] = {
        'Accuracy': accuracy,
        'Precision': precision,
        'Recall': recall,
        'F1 Score': f1
    }
# Create a DataFrame to display the results
results_df = pd.DataFrame(results).T
results_df

                     Accuracy  Precision    Recall  F1 Score
Logistic Regression  0.850816   0.927954  0.757647  0.834197
Decision Tree        0.954545   0.948837  0.960000  0.954386
Random Forest        0.951049   0.950588  0.950588  0.950588

From the above data Frame, we see Random Forest Prediction is good

In [344]:
pred = models['Random Forest'].predict(x_test)
if pred[0] == 1:
    print('The  given credit card transaction is a fraud')
else:
    print('The given credit card transaction is not a fraud')

The given credit card transaction is not a fraud

In [ ]:
print